{% spaceless %}
{% set theme_config = attribute(config.themes, config.system.pages.theme) %}

{% set logo = "" %}

{% if theme_config.logo is iterable %}
    {% for file in theme_config.logo %}
        {% set logo = file.name %}
    {% endfor %}
{% else %}
    {% set logo = theme_config.logo %}
{% endif %}

{% if logo is empty %}
    {% set logo = 'logo.png' %}
{% endif %}

{% set favicon = "" %}

{% if theme_config.favicon|length > 0 %}
    {% for file in theme_config.favicon %}
        {% set favicon = file.name %}
    {% endfor %}
{% endif %}

{% if favicon is empty %}
    {% set favicon = 'favicon.png' %}
{% endif %}

{% endspaceless %}
<!DOCTYPE HTML>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
    <head>
        {% include 'partials/head.html.twig' %}
    </head>
    <body>
        <div id="main-wrapper">
            <div id="preloader">
                <div id="status">
                    <div class="status-mes"></div>
                </div>
            </div>

            <div class="uc-mobile-menu-pusher">
                <div class="content-wrapper">
                    {% include 'partials/navbar.html.twig' %}

                    {% block content %}{% endblock %}
                </div>
            </div>

            <div class="uc-mobile-menu uc-mobile-menu-effect">
                <button type="button" class="close" aria-hidden="true" data-toggle="offcanvas"
                        id="uc-mobile-menu-close-btn">&times;</button>
                <div>
                    <div>
                        <ul id="menu">
                        {% for p in pages.children.visible %}
                            {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
                            {% if p.children.visible.count == 0 %}
                                <li class="{{ current_page }}">
                                    <a href="{{ p.url }}">{{ p.menu }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% include 'partials/footer.html.twig' %}

        <!-- Cookie Consent by FreePrivacyPolicy.com https://www.FreePrivacyPolicy.com -->
        <script type="text/javascript" src="//www.freeprivacypolicy.com/public/cookie-consent/4.1.0/cookie-consent.js" charset="UTF-8"></script>
        <script type="text/javascript" charset="UTF-8">
        document.addEventListener('DOMContentLoaded', function () {
        cookieconsent.run({"notice_banner_type":"simple","consent_type":"implied","palette":"light","language":"de","page_load_consent_levels":["strictly-necessary","functionality","tracking","targeting"],"notice_banner_reject_button_hide":false,"preferences_center_close_button_hide":false,"page_refresh_confirmation_buttons":false,"website_name":"StOrch e.V. - Studentenorchester München","website_privacy_policy_url":"https://storch-muenchen.org/impressum/privacy"});
        });
        </script>

        <noscript>Cookie Consent by <a href="https://www.freeprivacypolicy.com/">Free Privacy Policy Generator</a></noscript>
        <!-- End Cookie Consent by FreePrivacyPolicy.com https://www.FreePrivacyPolicy.com -->

<!-- Default Statcounter code for StOrch Website http://storch-munich.org -->
<script type="text/javascript">
var sc_project=12953633; 
var sc_invisible=1; 
var sc_security="8d221e94"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img class="statcounter"
src="https://c.statcounter.com/12953633/0/8d221e94/1/" alt="Web Analytics"
referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->


    </body>
</html>
